# -------------------------------------------------------
# INSTRUCTIONS
# -------------------------------------------------------
# 1. Copy this file:
#    cp config/.env.example config/.env.local
#
# 2. Fill in your values in .env.local
#
# 3. NEVER commit .env.local or .env.staging to Git
#    They are already in .gitignore
# -------------------------------------------------------

# The URL of the app you are testing
BASE_URL=

# user credentials
CLIENT_EMAIL=b1g1_client@gmail.com

SUPERVISOR_EMAIL=b1g1_supervisor@gmail.com

ADVISOR_EMAIL=b1g1_advisor@gmail.com

EMPLOYEE_EMAIL=b1g1_employee@gmail.com

SHARED_PASSWORD=Group1


# Database — fill in when you have access
DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=